<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <%= render_page_title %>
    <%= stylesheet_link_tag 'application' %>
    <link rel="shortcut icon" href="/favicon.ico">
</head>
<%= render_body_tag %>
    <div id="doc">
        <div id="header">
            <div class="container_16 clearfix">
                <div class="grid_16">
                    <h1><%= link_to "Handicraft Project", root_path %></h1>
                    <%= render :partial => "common/user_navigation" %>
                    <%= render :partial => "common/main_navigation" %>
                </div>
            </div>
        </div>
        <% if flash.any? %>
        <div id="stickies">
            <div class="container_16 clearfix">
                <div class="grid_16">
                    <% flash.each do |type, message| %>
                    <div class="<%= type %>_stickie">
                        <%= message %>
                        <span class="stickies_close_area"><a href="javascript:;">Close</a></span>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <% end %>

        <div id="wrapper" class="container_16 clearfix">
            <div class="grid_16">
                <!-- Set Breadcrumb in here -->
                <div class="breadcrumbs">
                </div>
            </div>
            <div class="grid_16">
                    <%= yield %>
            </div>
        </div>
        </div>
        <div id="footer" class="container_16 clearfix">
            <div class="grid_16">
                <address>Copyright &copy; 2011 Handlino Inc.</address>
            </div>
        </div>
    </div>
    <%= javascript_include_tag "application" %>
    <%= yield :page_specific_javascript %>
</body>
</html>
